= simple_form_for @instruction do |f|
  = f.input :title
  = f.input :description
  %h3 Steps
  #steps
    = f.simple_fields_for :steps do |step|
      = render 'step_fields', :f => step
    .links
      = link_to_add_association 'add step', f, :steps
  = f.submit