= form_for @instruction do |f|
  .container-instruction
    .container.create-instruction-body
      .add-media-block
        .frame-body#instruction_image_file
          .upload-preview
          Выберите изображение
      %div{style: 'display: none'}
        = f.file_field :image, id: 'instruction-file-field'
      .add-text-block
        %h2 Инструкция
        = f.text_field :title, :placeholder => "Название вашей инструкции"
        %h2 Дополнительно (не рекомендуется)
        = f.text_area :description, :placeholder => "Краткое описание инструкции", :rows => "3"
    .icon-block.add-instruction-body
  %h3 Steps
  #steps
    = f.simple_fields_for :steps do |step|
      = render 'step_fields', :f => step
    .links
      = link_to_add_association 'add step', f, :steps
  = f.submit
