<div class="enter-registration-forms-container">
  <div class="form-container">
    <div class="form-box">
      <div class="form-box-wrapper">
        <h2 class='form-title'>Войдите в систему</h2>
        <%= form_for(resource, as: resource_name, role: "form", url: session_path(resource_name)) do |f| %>
          <%= flash[:errors]%>
          <% if resource.errors.any? %>
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li>
                    <div class="alert alert-danger">
                      <%= msg %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <%= fa_icon 'envelope'%>
              </div>
              <%= f.text_field :email, required: false, autofocus: true, class: "form-control", placeholder: 'Email' %>
            </div>
            
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <%= fa_icon 'asterisk'%>
              </div>
              <%= f.password_field :password, required: false, class: "form-control", placeholder: 'Пароль' %>
            </div>
          </div>

          <div class="form-group text-center">
            <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.label 'Запомнить меня', class: 'check-box-label'%>
          </div>

          <div class="form-actions">
            <%= f.submit "Войти", class: "btn btn-default btn-block btn-base-blue" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>



